In [82]:
import pandas as pd
import numpy as np
import re

In [83]:
from razor import project_space_path as psp

In [84]:
new_prod_maps = pd.read_csv('Dist2614.csv')

In [85]:
d_newprodmap = new_prod_maps[['Product','Cod_Prod']].set_index('Cod_Prod').to_dict()['Product']

upn = pd.read_csv('sdata/Fidelity Dummy - UniqueProdNames.csv')

upn.reset_index(drop=True, inplace=True)

upn['Product Name'] = upn['Product Name'].apply(lambda x: re.sub('[^a-zA-Z0-9\s]',' ',x))

upn['Product Name'] = upn['Product Name'].apply(lambda x: re.sub('\s{1,}','_',x))

sorted(list(upn['Product Name'].unique())) == sorted(list(new_prod_maps['Product'].unique()))

upn.to_csv('New_UniqueProdsMap.csv', index=False)

In [86]:
pd.read_csv('DataGeneration/meta_data/latest_purchase_history.csv')

,Unnamed: 0,Customer_ID,Purchase_Date,Product_ID,Age_Group,Antiquity_Group,Income_Group,Gender_Group,Profession_Group
0,0,A0000001,2013-04-01,4746218,5,4,In Between 50K and 75K,male,Private
1,1,A0000002,2015-02-01,4536150,5,5,less than 25K,male,Private
2,2,A0000003,2016-02-01,4779697,5,5,Greater than 100K,female,Private
3,3,A0000004,2016-05-01,4871713,5,5,In Between 50K and 75K,male,Private
4,4,A0000006,2015-05-01,4908519,5,5,In Between 50K and 75K,male,Private
...,...,...,...,...,...,...,...,...,...
803727,803727,A0676367,2016-09-01,4871713,1,1,less than 25K,female,Private
803728,803728,A0676368,2016-09-01,4697906,1,1,less than 25K,female,Private
803729,803729,A0676369,2015-10-01,4908519,3,2,In Between 50K and 75K,male,Private
803730,803730,A0676370,2015-11-01,4697906,3,2,In Between 25K and 50K,male,Private
803731,803731,A0676370,2015-11-01,4779697,3,2,In Between 25K and 50K,male,Private

In [87]:
d_newprodmap

{201: 'Standard_Everyday_Checking_Account',
 601: 'Standard_Business_Checking_Account',
 301: 'Savings',
 9991: 'Standard_Flex_Credit_Card',
 9993: 'Standard_Unlimited_Credit_Card',
 2302: 'Premium_Business_Checking_Account',
 2205: '72_mo_fixed_rate_Business_Loan',
 704: '48_Months_CD',
 2601: 'Costco_Visa_Debit_Card',
 9992: '60_Months_CD',
 1011: '60_mo_fixed_rate_Business_Loan',
 2301: '84_Months_CD',
 2704: 'Premier_Plus_Everyday_Checking_Account',
 2705: '36_Months_CD',
 2602: 'Domestic_wire_transfers',
 2503: '84_mo_fixed_rate_Business_Loan',
 2501: 'Dunkin_Donuts_Prepaid_Card',
 2707: 'Performance_Business_Checking_Account',
 706: '72_mo_variable_rate_Business_Loan',
 2701: '84_mo_variable_rate_Business_Loan',
 1804: 'International_wire_transfers',
 2102: '60_mo_variable_rate_Business_Loan',
 1020: 'Empire_Business_Unlimited_Credit_Card',
 2106: '42_Months_CD',
 2201: 'Platinum_Banking_Checking_Account',
 707: '12_mo_fixed_rate_Business_Loan',
 1801: 'Platinum_Reserve_Credit_Card',
 3001: '12_mo_variable_rate_Business_Loan',
 1002: '120_Months_CD',
 2401: 'First_Banking_Checking_Account',
 1013: 'Virgin_Gateway_Card',
 801: 'Virgin_Business_Card',
 2702: 'Business_Line_of_Credit',
 1001: '48_mo_fixed_rate_Business_Loan',
 2202: '36_mo_variable_rate_Business_Loan',
 2706: '48_mo_variable_rate_Business_Loan',
 1309: '36_mo_fixed_rate_Business_Loan',
 3401: 'Platinum_Preferred_Credit_Card',
 1310: '24_mo_fixed_rate_Business_Loan',
 1802: 'Standby_Performance_Letters_of_Credit',
 1017: 'Hilton_Rewards_Club_Premier_Credit_Card',
 702: 'Costco_Visa_Card',
 1306: 'Virgin_Infinite_Card',
 2206: '48_Months_Auto_Loan',
 708: 'Private_Client_Checking_Account',
 1022: '60_Months_Auto_Loan',
 1307: '24_mo_variable_rate_Business_Loan',
 503: 'Virgin_Explorer_Card',
 2204: '72_Months_Auto_Loan',
 1009: 'Delta_Plus_Credit_Card',
 1401: 'Empire_Business_Cash_Credit_Card',
 1311: 'Empire_Business_Preferred_Credit_Card',
 1304: 'Amazon_Prime_Rewards_Visa_Signature_Card',
 2203: 'Delta_Priority_Credit_Card',
 102: 'Radisson_Boundless_Credit_Card',
 103: '30_year_mortgage_refinance',
 1301: 'Hilton_Rewards_Club_Traveler_Credit_Card',
 1805: 'Delta_Performance_Business_Credit_Card',
 1007: 'Dunkin_Donuts_Rewards_Visa_Card',
 1021: '30_year_mortgage',
 1302: '15_year_mortgage',
 506: '15_year_mortgage_refinance',
 1019: 'British_Airways_Visa_Signature_Card',
 3101: 'Delta_Premier_Business_Credit_Card',
 1501: 'Delta_Premier_Credit_Card',
 2103: 'Etihad_Visa_Signature_Card',
 1303: 'Qatar_Airways_Visa_Signature_Card',
 705: 'SBA_7_a__Loan_Program',
 2703: 'Costco_Premier_Visa_Card',
 2105: 'Preferred_Everyday_Checking_Account',
 1012: 'Premier_Savings',
 1803: 'SBA_504_Loan_Program',
 1010: 'Radisson_Bold_Credit_Card',
 1806: '12_Months_CD',
 1005: 'College_Checking_Account',
 1006: '21_Months_CD',
 101: 'SBA_Express',
 703: 'Real_Estate_Financing',
 104: 'Standard_Student_Credit_card',
 504: '3_Months_CD',
 1015: 'Commercial_Line_of_Credit',
 2502: '6_Months_CD',
 1004: '1_Months_CD',
 804: 'Home_Equity_Line_of_Credit',
 2801: '30_year_cash_out_refinance',
 1305: '24_Months_CD',
 2104: '18_Months_CD',
 1008: '30_Months_CD',
 803: 'Commercial__Import__Letters_of_Credit',
 2901: '2_Months_CD',
 1308: '15_Months_CD',
 1014: '9_Months_CD',
 502: '15_year_cash_out_refinance'}